* {
  background-color: #f8f8f7;
}

section {
  text-align: left;
}

body {
  font-family: Verdana;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  color: #333333;
}

h2 {
  font-size: 120%;
  font-weight: bold;
  color: #4d4d4f;
}

img {
  max-width: 40%;
  height: auto;
}
