body {
  font-family: 'Raleway', sans-serif;
  background-color: #f8f8f7;
}

h1 {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  color: #659d89;
}

img {
  align-content: center;
  max-width: 30%;
  height: auto;
}

h2 {
  font-size: 120%;
  font-weight: bold;
  color: #333333;
}

h3 {
  font-size: 110%;
  font-weight: bold;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
  color: #4d4d4f; 
  text-align: left;
}


