section {
  text-align: left;
}

body {
  font: neue-haas-unica
  background-color: #f8f8f7;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  color: #659d89;
}

h2 {
  font-size: 120%;
  font-weight: bold;
  color: #333333;
}

p {
  color: #4d4d4f; 
}

img {
  max-width: 40%;
  height: auto;
}
